<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ personagem.imagem }}"
        class="img-fluid rounded-start"
        alt="Sheldon Cooper"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ personagem.nome }}</h5>
        <small class="card-text">{{ personagem.nomeAtor }}</small>
        <hr />
        <p class="card-text mt-4">{{ personagem.descricao }}</p>
      </div>
    </div>
  </div>
</div>
