<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="./assets/tbbt.jpg"
        class="img-fluid rounded-start"
        alt="Sheldon Cooper"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Sheldon Cooper</h5>
        <hr />
        <p class="card-text mt-4">
          Dr. Sheldon Lee Cooper, PhD. é um personagem fictício dos seriados de
          televisão estadunidense The Big Bang Theory, interpretado por Jim
          Parsons.
        </p>
      </div>
    </div>
  </div>
</div>
